package main

import (
	"flag"
	"fmt"
	"os"
	"strings"
)

func part_1() {}

func part_2() {}

func main() {
	var FILE_NAME string

	flag.StringVar(&FILE_NAME, "f", "sample.txt", "")
	flag.Parse()

	f, err := os.ReadFile(FILE_NAME)
	if err != nil {
		panic(err)
	}

	contents := string(f)
	slices := strings.Split(contents, " ")

	println("---------------")
	fmt.Printf("part1 answer: %v \n", part_1())
	fmt.Printf("part2 answer: %v \n", part_2())
	println("---------------")
}
