import sys


def part1():
    return None


def part2():
    return None


def run(FILE_NAME):

    with open(FILE_NAME, "r") as f:
        data = f.read()

    print("---------------")
    print("part1 answer: {}\n".format(part1()))
    print("part2 answer: {}".format(part2()))
    print("---------------")


if __name__ == "__main__":
    if len(sys.argv) == 1:
        run("sample.txt")
    else:
        run("input.txt")
